# macOS Finder files
.DS_Store

# IDEA files
/.idea/
/out/
/*.iml

# VSCode extension build files
/bin/

# JVM crash logs
/hs_err_pid[0-9]*.log

# Gradle build files
/.gradle/
/build/
/src/main/resources/docs/

# App data/log files
/data/
/config.json
/settings.json
/*.log.*
