.label {
    -fx-text-fill: #aaaaaa;
}

Text {
    -fx-fill: white;
}

.lead {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

#name {
    -fx-font-size: 32px;
    -fx-text-fill: white;
}

.interactions {
    -fx-background-color: transparent;
}

.interactions .outcome {
    -fx-text-fill: white;
    -fx-background-color: #ff8888;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

.interactions .date {
    -fx-text-fill: #aaaaaa;
    -fx-font-size: 12;
}
