/*@@AY2122S2-CS2103T-T09-4 {lilozz2}-reused
Past year senior project*/

.command {
    -fx-background-color: #F1F2F3;
    -fx-background-radius: 8;
    -fx-padding: 15 15 15 45;
    -fx-background-image: url('../../images/terminal.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: 15px center;
    -fx-background-size: 20px;
}

.command:focused {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 3.5, 0.4, 0, 1);
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
}
