.label {
    -fx-text-fill: white;
}

.stats {
    -fx-padding: 20px;
    -fx-spacing: 16px;
}

.stats-card {
    -fx-padding: 16px;
    -fx-background-color: #555555;
    -fx-background-radius: 8px;
}

.stats-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.subtitle {
    -fx-font-size: 14px;
    -fx-fill: #AAAAAA;
}

.big-number {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}

.chart-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.chart-pie-label {
    -fx-fill: white;
}

.axis {
    -fx-tick-label-fill: white;
}

.bar-chart .label {
    -fx-font-size: 16px;
}

.bar-chart .chart-plot-background {
    -fx-background-color: transparent;
}

.chart-bar {
    -fx-background-color: #85c1e9;
}

#uncontacted {
    -fx-text-fill: #ffffff;
}

#contacting {
    -fx-text-fill: #54A954;
}

#closed {
    -fx-text-fill: #BBBBBB;
}

.reminder-list {
    -fx-padding: 10px;
}

.reminder-label {
    -fx-padding: 20 0 20 0;
    -fx-spacing: 16px;
    -fx-font-size: 28px;
}

#reminderDateListView .list-cell {
    -fx-padding: 0 0 0 0;
    -fx-background-color: transparent;
}

#reminderListView .list-cell {
    -fx-padding: 20 0 0 0;
    -fx-background-color: transparent;
}

.list-cell:filled #reminderCardPane {
    -fx-background-color: #555555;
    -fx-background-radius: 8px;
}

.list-cell:empty {
    -fx-padding: 2px ;
    -fx-background-color: transparent ;
    -fx-background-insets: 0 ;
}

.list-cell:filled:even {
    -fx-background-color: transparent;
}

.list-cell:filled:odd {
    -fx-background-color: transparent;
}

.list-cell:filled:selected {
    -fx-background-color: transparent;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 20px;
    -fx-text-fill: #010504;
}
