/* Main Job Details Panel */
.jobDetailsPanel {
    -fx-background-color: #FAF0FF;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 2, 2);
}

/* Interview List */
.interviewListPanel {
    -fx-background-color: #DCDCDC;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}