/* Job List Panel*/
.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: #DCDCDC;
}

.list-cell:filled {
    -fx-background-color: #ffffff;
    -fx-background-radius: 15px;
}

.list-cell:filled:selected {
    -fx-background-color: #00ff00;
}

/* Job Card */
#cardPane {
    -fx-background-color: #ffffff;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 2, 2);
}

.cell_big_label {
    -fx-font-family: "Inter Black";
    -fx-font-weight: 900;
    -fx-font-size: 24px;
    -fx-text-fill: #343434;
}

.cell_small_label {
    -fx-font-family: "Inter Light";
    -fx-font-size: 16px;
    -fx-text-fill: #878787;
}

.cell_index_label {
    -fx-font-family: "Inter Light";
    -fx-font-size: 16px;
    -fx-text-fill: #343434;
}