.result-display {
    -fx-background-color: #ffffff;
    -fx-font-family: "Inter Light";
    -fx-font-size: 13pt;
    -fx-text-fill: #878787;
    -fx-effect: dropshadow(gaussian, rgba(22, 22, 22, 0.3), 5, 0, 0, 0);
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}