/* Adapted from:
   https://stackoverflow.com/questions/19999696/are-numbered-headings-in-markdown-rdiscount-possible*/

body {
    counter-reset: h3
}

h3 {
    counter-reset: h4
}

h3:before {
    counter-increment: h3;
    content: counter(h3) ". "
}

h4:before {
    counter-increment: h4;
    content: counter(h3) "." counter(h4) ". "
}