.background {
    -fx-background-color: #EDDFC9;
    background-color: #383838; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Nunito";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d, 20%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Nunito";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

/* context-menu is the style for the dropdown options of menu-bar*/
.context-menu {
    -fx-background-color: derive(#1d1d1d, 50%);
}

.context-menu .label {
    -fx-text-fill: white;
}

/* title is for CCACommander*/
.title {
    -fx-font-size: 12pt;
    -fx-font-family: "Poppins";
    -fx-font-weight: 700;
    -fx-text-fill: white;
    -fx-padding: 5px 10px;
    -fx-background-radius: 5px;
    -fx-effect: innershadow(three-pass-box, derive(#3b3b3b, -10%) , 4, 0, 0, 0);
    -fx-background-color: linear-gradient(from 100% 100% to 100% 100%, derive(#1d1d1d, 50%), #a6a6a6);
}

/* stack-pane is the command-text-field + button, right now if set to black , button will blend in
   but the rim outside the command-text-field will still be beige color */
.stack-pane {
     -fx-background-color: #EDDFC9;
}
/* command text-box */
.command-text-region {
    -fx-font-size: 13pt;
    -fx-text-fill: white;
    -fx-font-family: "Nunito";
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-background-radius: 5 5 5 5;
    -fx-effect: innershadow(three-pass-box, derive(#3b3b3b, -10%) , 4, 0, 0, 0);
    -fx-border-radius: 5;
    -fx-border-width: 1;
}

#commandTextField {
    -fx-background-insets: 0;
    -fx-border-color: #383838 #383838 #383838 #383838;
    -fx-border-insets: 0;
}

/* result display box below the command text box*/
.result-display {
    -fx-background-color: #F0EFE7;
    -fx-font-family: "Nunito";
    -fx-font-weight: lighter;
    -fx-font-size: 12pt;
    -fx-text-fill: black;
    -fx-effect: innershadow(three-pass-box, derive(#3b3b3b, -10%) , 4, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: transparent, #F0EFE7, transparent, #F0EFE7;
    -fx-background-radius: 0;
}

/* pane-with-border is used in VBox containing member-list + members title and the VBox containing event-list + events title */
.pane-with-border {
     -fx-background-color: #EDDFC9;
     -fx-border-color: derive(#1d1d1d, 10%);
     -fx-border-top-width: 1px;
}

/* cardPane is also eventListCard and memberListCard */
#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

/* listTitle is for members and events titles */
.listTitle {
    -fx-font-size: 14pt;
    -fx-font-family: "Poppins";
    -fx-font-weight: 700;
    -fx-text-fill: white;
    -fx-padding: 5px 10px;
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, derive(#1d1d1d, 20%), derive(#1d1d1d, 70%));
    -fx-background-radius: 5px;
    -fx-effect: innershadow(three-pass-box, derive(#3b3b3b, -10%) , 4, 0, 0, 0);
}

/* list-view is for the member list and event list*/
.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: derive(#EDDFC9, 20%);
    -fx-effect: innershadow(three-pass-box, derive(#3b3b3b, -10%) , 4, 0, 0, 0);
}

/*note: .list-cell will cover all even, odd AND empty cells */
.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #fdfcfb, #e2d1c3);
    -fx-text-fill: #010504;
    -fx-effect: innershadow(three-pass-box, derive(#3b3b3b, -10%) , 4, 0, 0, 0);
}

.list-cell:filled:odd {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #ECECEC, #44355B);
    -fx-text-fill: white;
    -fx-effect: innershadow(three-pass-box, derive(#3b3b3b, -10%) , 4, 0, 0, 0);
}

/* when the cell is selected */
.list-cell:filled:selected {
    -fx-background-color: #CBCAFF;
    -fx-border-color: #9434F4;
}

.list-cell .label {
    -fx-text-fill: #010504; /* black */
}

.cell_big_label {
    -fx-font-family: "Nunito";
    -fx-font-weight: 700;
    -fx-font-size: 15px;
}

.cell_small_label {
    -fx-font-family: "Nunito";
    -fx-font-size: 13px;
}

/* tags inside each cell */
#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

/* the data/ccacommander footer */
.status-bar {
    -fx-background-color: derive(#1d1d1d, 30%);
}

.status-bar .label {
    -fx-font-family: "Nunito";
    -fx-text-fill: white;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: derive(#1d1d1d, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-border-color: #e2e2e2;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family: "Nunito", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
}

.button:hover {
    -fx-background-color: transparent;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

/* dialog-pane is used for alert dialogs */
.dialog-pane {
    -fx-background-color: #EDDFC9;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #EDDFC9;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#1d1d1d, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

/* scroll-bar (used in event, member lists, result display) */
.scroll-bar {
    -fx-background-color: #EDDFC9
}

.scroll-bar .thumb {
    -fx-background-color: derive(#1d1d1d, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}
