#copyButton, #helpMessage {
    -fx-text-fill: #383838ff;
}

#copyButton {
    -fx-background-color: #c3d7e0ff;
}

#copyButton:hover {
    -fx-background-color: #92afbeff;
}

#copyButton:armed {
    -fx-background-color: darkgray;
}

#helpMessageContainer {
    -fx-background-color: #f3f0f0ff;
}
