#copyButton, #helpMessage {
    -fx-text-fill: white;
}

#copyButton {
    -fx-background-color: #233257;
}

#copyButton:hover {
    -fx-background-color: #243257;
}

#copyButton:armed {
    -fx-background-color: #131a2e;
}

#helpMessageContainer {
    -fx-background-color: derive(#2E4374, 20%);
}
