.background {
    -fx-background-color: #f0f0f0;
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: #f0f0f0;
}

.root {
    -fx-font-family: "Courier New";
    -fx-background-color: #f0f0f0;
}

.label {
    -fx-font-size: 13pt;
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 13pt;
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 13pt;
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #f0f0f0;
    -fx-control-inner-background: #f0f0f0;
    -fx-background-color: #f0f0f0;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: #f0f0f0;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: #f0f0f0;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-text-fill: black;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: #f0f0f0;
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: #f0f0f0;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: #f0f0f0;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-background-color: #b5c4b1;
}

.list-cell:filled:odd {
    -fx-background-color: #96a48b;
}

.list-cell:filled:selected {
    -fx-background-color: #7b8b6f;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #f0f0f0;
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-text-fill: black;
}

.cell_big_label {
    -fx-font-size: 13pt;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.cell_small_label {
    -fx-font-size: 11pt;
    -fx-text-fill: black;
}

.stack-pane {
    -fx-background-color: #f0f0f0;
}

.pane-with-border{
    -fx-background-color: #f0f0f0;
}

.status-bar {
    -fx-background-color: #f0f0f0;
}

.command-box {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #f0f0f0;
    -fx-font-size: 13pt;
    -fx-font-weight: bold;
}

.result-display {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #7b8b6f #f0f0f0 #f0f0f0 #f0f0f0;
    -fx-border-width: 4;
    -fx-font-weight: bold;
    -fx-font-size: 13pt;
    -fx-text-fill: #d3ad97;
}

.result-display .label {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: black !important;
}

.result-display .content {
    -fx-background-color: #f0f0f0;
}

.status-bar .label {
    -fx-text-fill: black;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: #e0e0e0;
    -fx-border-color: #d0d0d0;
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: black;
}

.grid-pane {
    -fx-background-color: #e0e0e0;
    -fx-border-color: #d0d0d0;
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: #f0f0f0;
}

.context-menu {
    -fx-background-color: #f0f0f0;
}

.context-menu .label {
    -fx-text-fill: black;
}

.menu-bar {
    -fx-background-color: #f0f0f0;
}

.menu-bar .label {
    -fx-font-size: 13pt;
    -fx-text-fill: black;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: #f0f0f0;
}

.button {
    -fx-padding: 4 20 4 20;
    -fx-border-width: 2;
    -fx-background-radius: 20;
    -fx-background-color: white;
    -fx-background-radius: 3px;
    -fx-font-size: 11pt;
}

.button:hover {
    -fx-background-color: #f1d3c2;
    -fx-font-size: 11pt;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.button:pressed {
    -fx-background-color: #ebc1a8;
    -fx-font-size: 11pt;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.menu-item {
    -fx-background-color: #f0f0f0;
}

.menu-item:hover {
    -fx-background-color: #f1d3c2;
}

.menu-item:pressed {
    -fx-background-color: #ebc1a8;
}

.menu {
    -fx-background-color: #f0f0f0;
}

.menu:hover {
    -fx-background-color: #f1d3c2;
}

.menu:pressed {
    -fx-background-color: #ebc1a8;
}