.default-color0.chart-pie { -fx-pie-colour:#C3423F;
}

.default-color1.chart-pie{ -fx-pie-colour: #9BC530;
}

.chart-pie-title {
    -fx-fill: #ffffff;
}

.chart-pie-label {
    -fx-fill: #ffffff;
    -fx-font-size: 1em;
}

.chart-pie-label-line {
    -fx-fill: #ffffff;
    -fx-font-size: 1em;
}

.chart-pie-title {
    -fx-fill: #ffffff;
    -fx-font-size: 1em;
}