.default-color0.chart-pie { -fx-pie-color: #C3423F; }
.default-color1.chart-pie { -fx-pie-color: #12398c; }

.chart-legend{
    -fx-fill: #ffffff;
}

.chart-pie-label {
    -fx-fill: #000000;
    -fx-font-size: 1em;
}

.chart-pie-label-line {
    -fx-fill: #000000;
    -fx-font-size: 1em;
}

.chart-title {
    -fx-text-fill: #000000;
    -fx-font-size: 1.6em;
}

.chart-legend {
    -fx-background-color: transparent;
}
