.tab-pane .tab-header-area .tab-header-background {
  -fx-opacity: 0;
}

.tab-pane:top *.tab-header-area {
  -fx-background-insets: 0, 0 0 1 0;
  -fx-padding: 0 0 0 0;
}

.tab-pane {
  -fx-tab-min-width: 120px;
  -fx-tab-min-height: 35px;
  -fx-tab-max-height: 35px;
}

.tab {
  -fx-background-insets: 0 1 0 1, 0, 0;
  height: 120px;
}

.tab-pane .tab {
  -fx-background-color: #e6e6e6;
}

.tab-pane .tab:selected {
  -fx-background-color: #3c3c3c;
}

.tab .tab-label {
  -fx-font-family: "Segoe UI Semibold";
  -fx-alignment: CENTER;
  -fx-text-fill: #828282;
  -fx-font-size: 18px;
  -fx-padding: 0 10 0 10;
}

.tab:selected .tab-label {
  -fx-text-fill: #fff;
}
